section {
    background-color: white;
    margin:0;
}

.graduados{
    box-shadow: 10px 10px 5px grey;
    width: 75%; /*ancho*/
    margin: auto; /*centrado*/
    background-color: lightblue;
    padding: 10px 20px; /*relleno vertical y horizontal*/
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 5%;
}

.titulo {
    color: #7075CC;
    text-align: center;
    margin-bottom: 5%;
    font-size: 30px;
    margin-top: 5%;
}
form p, h2, h3{
    margin-top: 5%;
}
.btn:hover{
    cursor: pointer;
}
.btn:last-child{
    margin-bottom: 5%;
}
input{
    width: 70%;
    margin-bottom: 20px;
    padding:7px;
    box-sizing: border-box;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #f0f8ff;
    box-shadow: 5px 5px 3px grey;
}

