#info {
    background: #333 !important;
    color: #fff;
    text-align:center;
    padding: 20px;
}
#info .contenedor {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    box-shadow: none;

}

.info-software {
    margin:20px;

}

.info-software img {
    width:180px;
    height:180px;
    border-radius: 20%; /*50% es circulo*/
    border: 5px solid #fff;
}

@media (min-width:480px) {
    .info-software {
        width: 40%; /*40% del ancho de su padre*/
    }
}

@media (min-width:1024px) {
    .info-software {
        width: auto;
    }
}