section {
    background-color: white;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}

#facultad {
    width: 800px; /*ancho*/
    margin: auto; /*centrado*/
    background-color: lightblue;
    padding: 10px 20px; /*relleno vertical y horizontal*/
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 7px;
    /*list-style:none;*/
}
.historia {
    color: blue;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    #facultad {
        width:50%;
        
    }
}