section {
    background-color: white;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}

#contacto {
    width: 450px; /*ancho*/
    margin: auto; /*centrado*/
    background-color: lightblue;
    padding: 10px 20px; /*relleno vertical y horizontal*/
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    /*list-style:none;*/
}

.h1-responsive {
    color: blue;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding:7px;
    box-sizing: border-box;
    font-size: 17px;
    border:none;
}

textarea {
    min-height: 100px; 
    max-width: 200px;
    max-width: 100%;
}

#boton {
    background-color: rgb(12, 12, 70);
    color: white;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;

}



